version: "3.8"

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    ports:
      - "5432:5432"
    volumes:
      - nfl_pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U airflow -d airflow"]
      interval: 10s
      timeout: 5s
      retries: 5
  
  airflow:
    image: apache/airflow:2.9.0
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__CORE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
      AIRFLOW__CORE__LOAD_EXAMPLES: 'false'
    volumes:
      - ./infra/airflow/dags:/opt/airflow/dags
      - ./infra/airflow/logs:/opt/airflow/logs
      - ./src:/opt/airflow/src
      - ./data:/opt/airflow/data
    ports:
      - "8081:8080"
    command: >
      bash -c "
      until pg_isready -h postgres -U airflow -d airflow; do sleep 2; done;
      airflow db init;
      airflow users create --username admin --password admin --firstname Nolan --lastname Admin --role Admin --email nolanmartzke@gmail.com &&
      airflow scheduler &
      exec airflow webserver
      "

volumes:
  nfl_pgdata: